* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

:root {
  --main-color: #10cab7;
  --secondary-color: #2c4755;
  --section-padding: 60px;
  --section-background: #f6f6f6;
  --main-duration: 0.5s;
}

body {
  font-family: "Work Sans", sans-serif;
}

.container {
  padding: 0 15px;
  margin: 0 auto;

}

@media (min-width:768px) {

  .container {
    width: 750px;
  }

}

@media (min-width:992px) {

  .container {
    width: 970px;
  }

}

@media (min-width:1200px) {

  .container {
    width: 1170px;
  }

}

html {
  scroll-behavior: smooth;
}

.special-heading {
  color: #edeced;
  font-size: 100px;
  font-weight: 800;
  letter-spacing: -5px;
  text-align: center;
  margin: 0;
}

.special-heading+p {
  text-align: center;
  color: #333;
  margin-top: -30px;
  font-size: 20px;
}

@media (max-width:768px) {

  .special-heading {
    font-size: 70px;
  }

  .special-heading+p {
    margin-top: -20px;
    font-size: 15px;
  }
}

.header {
  padding: 20px;
}

.header .logo {
  height: 20px;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .links {
  position: relative;
}

.header .links .icon {
  width: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
}

.header .links .icon span {
  background-color: #333;
  margin-bottom: 5px;
  height: 2px;
}

.header .links .icon span:first-child {
  width: 100%;

}

.header .links .icon span:nth-child(2) {
  width: 60%;
  transition: .3S;
}

.header .links .icon span:last-child {
  width: 100%;

}

.header .links:hover span:nth-child(2) {
  width: 100%;
}

.header .links ul {
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: #f6f6f6;
  min-width: 200px;
  position: absolute;
  right: 0;
  top: calc(100% + 7px);
  display: none;
  z-index: 1;
}

.header .links:hover ul {
  display: block;
}

.header .links ul li {
  margin-bottom: 5px;
  padding: 20px;
}

.header .links ul li a {
  color: black;
  text-decoration: none;
  transition: .5s;
}


.header .links ul::before {
  content: "";
  width: 0;
  height: 0;
  border-width: 10px;
  border-color: transparent transparent #f6f6f6 transparent;
  border-style: solid;
  position: absolute;
  top: -19px;
  right: 5px;
}

.header .links ul li a:hover {
  padding-left: 30px;

}

.header .links ul li:hover:not(:last-child) {
  border-bottom: 1px solid #ddd;
}

.header .links:hover ul {
  display: visible;
}

.landing {
  height: calc(100vh - 64px);
  background-image: url("image/landing.jpg");
  background-size: cover;
  position: relative;
}

.landing .intro-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 320px;
  max-width: 100%;
}

.landing .intro-text h1 {
  color: var(--main-color);
  margin: 0;
  font-size: 50px;
  ;
}

.landing .intro-text p {
  font-size: 19px;
  line-height: 1.8;
}

.features {
  padding: 60px 0;
  background-color: #f6f6f6;
}

.features .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.feat {
  text-align: center;
  padding: 30px;
}

.feat i {
  color: var(--main-color);
}

.features .feat h3 {
  margin: 30px 0;
  font-weight: 800;
}

.features .feat p {
  line-height: 2.2;
  font-size: 17px;
  color: #777;
}

.service {
  padding: 60px 0 20px 0;
}

.service .service-content i {
  color: var(--main-color);
  flex-basis: 60px;
}

.service .service-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 30px;
  margin-top: 100px;
}

.service .service-content .srv {
  display: flex;
  margin-bottom: 40px;

}

@media (max-width:768px) {
  .service .service-content .srv {
    flex-direction: column;
    text-align: center;
  }

}

.service .service-content .srv .text {
  flex: 1;
}

.service .service-content .srv .text h3 {
  margin: 0 0 20px;
}

.service .service-content .srv .text p {
  color: #777;
  line-height: 1.6;
  font-weight: 300;

}

.service .service-content .col img {
  width: 250px;
  height: 350px;
  margin: 0 0 100px 30px;
}

.service .service-content .col .image2 {
  width: 250px;
  height: 350px;
  margin: 0 0 100px 30px;
  position: relative;
}

.service .service-content .col .image2::after {
  content: "";
  width: 100px;
  height: calc(100% + 100px);
  background-color: #2c4755;
  position: absolute;
  top: -50px;
  right: -70px;
  z-index: -1;
}


@media (max-width:768px) {
  .image-column {
    display: none;
  }

}

.portfolio {
  padding: 60px 0;
  background-color: #f6f6f6;
}

.card-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 30px;
  margin-top: 100px;
}

.card .text {
  line-height: 1.7;
}

.card h3 {
  margin: 10px 0 0 0;
  padding-left: 10px;
}

.card p {
  padding-left: 10px;
  color: #777;
}

.card-content .card img {
  width: 100%;
}

.about {
  padding: 60px 0;
}

.about .about-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 100px;
}

@media (max-width : 991px) {
  .about .about-content {
    flex-direction: column;
    text-align: center;
  }
}

.about .about-content .text {
  flex-basis: calc(100% - 500px);
}



.about .about-content .text p:first-of-type {
  margin-bottom: 50px;
  line-height: 2;
  font-weight: bold;
}

.about .about-content .text hr {
  width: 50%;
  display: inline-block;
  border-color: #10cab7;
}

.about .about-content .text p:last-of-type {
  line-height: 2;
  margin-bottom: 60px;
}

.about .about-content .image3 {
  width: 250px;
  height: 375px;
  position: relative;
}

@media (max-width : 991px) {
  .about .about-content .image3 {
    margin: 0 auto 20px;
  }
}

.about .about-content .image3 img {
  max-width: 100%;
}

.about .about-content .image3::before {
  content: '';
  position: absolute;
  background-color: #ebeced;
  width: 100px;
  height: calc(100% + 60px);
  top: -30px;
  left: -20px;
  z-index: -1;
}

.about .about-content .image3::after {
  content: '';
  width: 120px;
  height: 300px;
  position: absolute;
  right: -150px;
  top: -40px;
  border-left: 80px solid var(--main-color);
  border-bottom: 80px solid var(--main-color);
  z-index: -2;
}

@media (max-width : 991px) {

  .about .about-content .image3::before,
  .about .about-content .image3::after {
    display: none;
  }
}

.contact {
  background-color: #f6f6f6;
  padding: 60px 0;
}

.contact .contact-text {
  text-align: center;
  margin-top: 70px;
}

.contact .contact-text p:first-child {
  color: var(--secondary-color);
  font-size: 38px;
  margin-bottom: -25px;
  font-weight: 800;
  letter-spacing: -3px;
  word-spacing: 0px;
}

.contact .contact-text p:nth-child(2) {
  color: #10cab7;
  font-size: 33px;
  font-weight: 800;
  margin-bottom: -5px;
}

.contact .contact-text p:last-child {
  color: #333;
  font-size: 17px;
}

.footer {
  background-color: #2c4755;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer p {

  color: white;
  font-size: 18px;
  word-spacing: 0px;
  font-weight: 500;
}

.footer span {
  color: #10cab7;
}